@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #111827;
    color: #4ade80;
  }
}

@keyframes cursor-blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.cursor::after {
  content: '|';
  animation: cursor-blink 1.5s infinite;
}